<% badge_class = { uncategorized: 'badge-primary', support: 'badge-success', question: 'badge-info', feature: 'badge-warning', bug: 'badge-danger' } %>

<% if ticket.category.nil? %>
    <span class="badge badge-primary badge-pill">category unassigned</span>
<% else %>
    <span class="badge <%= badge_class[ticket.category.to_sym] %> badge-pill"><%= ticket.category %></span>
<% end %>