<%= link_to feedback.ticket_path(ticket), style: "text-decoration: none;", class: "list-group-item list-group-item-action flex-column align-items-start" do %>
  <div class="row">
    <div class="col-1 text-center" style="height: 20px;">
      <div style="font-size: 0.5em">
        <%= render partial: 'feedback/tickets/state', locals: {ticket: ticket} %>
      </div>
    </div>
    <div class="col-10" style="overflow: hidden;text-overflow: ellipsis; height: 20px;">
      <small class="text-muted"><%= strip_tags(ticket.text.to_s).truncate(100) %></small>
    </div>
  </div>
<% end %>