<div class="container">
  <div class="jumbotron mt-6" style="background-color: #f5f5f5">
    <h2 class="display-5">More Feedback = Better Sitrep!</h2>
    <p class="lead">Thanks for taking a couple of minutes to share your ideas and experiences to help shape the best
      Situation Report Tracker for the RCAF.</p>
    <hr class="my-4">
    <p class="lead">
      <%= render 'form', ticket: @ticket %>
    </p>
    <%= link_to 'Back', tickets_path, class: "btn btn-light" %>
  </div>
</div>
