<div class="card mb-3">
  <div class="card-header">
    <small class="float-end"><%= distance_of_time_in_words_to_now(comment.created_at) %> ago</small>
    <h6 class="mb-0"><%= comment.user %></h6>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <p><%= comment.text %></p>
        <% comment.attachments.each do |attachment| %>
          <li><%= link_to attachment.filename, main_app.rails_blob_path(attachment, disposition: "attachment") %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>